<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Interface do Robô</title>
    <!-- Link para estilos -->
    <link rel="stylesheet" href="static/styles.css">
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- Cabeçalho -->
    <header class="header">
        <div class="logo">
            <img src="static/university-logo.png" alt="Logo da Universidade">
        </div>
        <div class="header-text">
            <h1>Projeto Integrador 1 - 2024.2 </h1>
            <h2>Turma 02 | Grupo 02</h2>
        </div>
    </header>

    <!-- Conteúdo Principal -->
    <main class="dashboard">
        <!-- Gráfico 1 -->
        <div class="chart-container" id="chart1"></div>

        <!-- Gráfico 2 -->
        <div class="chart-container" id="chart2"></div>

        <!-- Gráfico 3 -->
        <div class="chart-container" id="chart3"></div>

        <!-- Gráfico 4 -->
        <div class="chart-container" id="chart4"></div>
    </main>

    <!-- Scripts para renderizar gráficos -->
    <script src="static/scripts.js"></script>
</body>
</html>
