<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Adicionando a biblioteca Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Gráfico gerado com dados de exemplo:</p>

    <!-- Div onde o gráfico será renderizado -->
    <div id="sensor-graph"></div>

    <!-- Script para renderizar o gráfico -->
    <script>
        var graphJSON = JSON.parse(`{{ graphJSON | safe }}`);
        Plotly.newPlot('sensor-graph', graphJSON.data, graphJSON.layout);
    </script>    
</body>
</html>
